- if @current_user.admin? && params[:action] == 'new'
  = simple_form_for [@customer, @client] do |f|
    = f.input :name
    = f.input :login_domain
    = f.button :submit
- else
  = simple_form_for @client do |f|
    = f.input :name
    = f.input :login_domain
    = f.button :submit
