%h1 Creating a new client

= render 'form'

- if @current_user.admin?
  %p= link_to "Back to #{@customer.name}", customer_path(@customer)
  %p= link_to "Back to all clients", clients_path
- else
  %p= link_to "Back to your clients", clients_path
