%h1= @client.name
%p= @client.login_domain
%p= client_dashboard_path(@client)

%p= link_to 'Edit client', edit_client_path
%p= link_to 'Delete client', @client, method: :delete, data: { confirm: "Are you sure you would like to delete \"#{@client.name}\" from your client list?" }
- if @current_user.is_admin?
  %p= link_to "Back to #{@customer.name}", customer_path(@customer)
  %p= link_to "Back to all clients", clients_path
- else
  %p= link_to "Back to your clients", clients_path
